// ********************************************
// Name: Media Queries
// Description: site wide, mobile first media queries
// ********************************************


// Media Queries -- add more breakpoints as necessary

@mixin mq($point) {
	@if $point == "sm" {
		@media (min-width: $breakpoint-sm) {
			@content;
		}
	}
	@else if $point == "md" {
		@media (min-width: $breakpoint-md) {
			@content;
		}
	}
	@else if $point == "lg" {
		@media (min-width: $breakpoint-lg) {
			@content;
		}
	}
	@else {
   	@error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}
