
// **************************************************
// Name: sidebar.scss
// Description: sidebar navigation for style guide
// **************************************************



// sidebar
// --------------------------------------------------

.sidebar {
  float: left;
  position: fixed;
  height: 100%;
  width: 250px;
  height: 100%;
  padding: 30px;
  background: $gray-10;
  box-shadow: 0 1px 3px rgba($gray-1, .07);
}

.sidebar__logo {
  font-weight:$font-weight--light;
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1;
  color: $gray-6;
  border-bottom: 2px solid $gray-8;
  margin-bottom: 60px;
  &:hover {
    color: $brand-2;
  }
  p {
    margin-top: 0;
  }
  span {
    font-weight: $font-weight--bold;
  }
}
