
// **************************************************
// Name: sidebar.scss
// Description: sidebar navigation for style guide
// **************************************************



// sidebar
// --------------------------------------------------

.sidebar {
  display: none;

  @include mq("md") {
  float: left;
  position: fixed;
  display: block;
  height: 100%;
  width: 250px;
  height: 100%;
  padding: 30px;
  background: $gray-10;
  box-shadow: 0 2px 4px rgba($gray-1, .1);
  }
}
.sidebar__logo {
  font-weight:$font-weight--light;
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1;
  color: $gray-6;
  border-bottom: 2px solid $gray-8;
  margin-bottom: 60px;
  letter-spacing: .05rem;
  &:hover {
    color: $brand-2;
  }
  p {
    margin-top: 0;
  }
  span {
    font-weight: $font-weight--bold;
  }
}

.sidebar__credit {
  position: absolute;
  bottom: 15px;
  color: $gray-5;
  &:hover {
    color: $brand-2;
  }
}
