
// **************************************************
// Name: styleguide.scss
// Description: style guide specific styles
// **************************************************



// Color Swatches
// --------------------------------------------------

.swatch {
  margin-top: 5px;
  &__color {
    min-height: 75px;
  }
  &__name {
    color: $gray-5;
    padding-top: 5px;
    font-size: .85rem;
    ul {
      font-family: $font-family--code;
    }
  }
}


// Color Classes
// --------------------------------------------------

.gray-1 {
  background: $gray-1;
}
.gray-2 {
  background: $gray-2;
}
.gray-3 {
  background: $gray-3;
}
.gray-4 {
  background: $gray-4;
}
.gray-5 {
  background: $gray-5;
}
.gray-6 {
  background: $gray-6;
}
.gray-7 {
  background: $gray-7;
}
.gray-8 {
  background: $gray-8;
}
.gray-9 {
  background: $gray-9;
}
.gray-10 {
  background: $gray-10;
}

.brand-1 {
  background: $brand-1;
}
.brand-2 {
  background: $brand-2;
}
.brand-3 {
  background: $brand-3;
}
.brand-4 {
  background: $brand-4;
}

.accent-1 {
  background: $accent-1;
}
.accent-2 {
  background: $accent-2;
}
.accent-3 {
  background: $accent-3;
}
.accent-4 {
  background: $accent-4;
}

.error-1 {
  background: $error-1;
}
.error-2 {
  background: $error-2;
}
.error-3 {
  background: $error-3;
}

.warn-1 {
  background: $warn-1;
}
.warn-2 {
  background: $warn-2;
}
.warn-3 {
  background: $warn-3;
}

.success-1 {
  background: $success-1;
}
.success-2 {
  background: $success-2;
}
.success-3 {
  background: $success-3;
}



// Example (out and or code)
// --------------------------------------------------


.example {
  margin-top: 10px;
  &__output {
    padding: 20px;
    background: $gray-10;
    border-radius: 3px 3px 0 0;
  }
  &__code {
    border-radius: 0 0 3px 3px;
  }
}
