
// **************************************************
// Name: styleguide.scss
// Description: style guide specific styles
// **************************************************



// Color Swatches
// --------------------------------------------------

.swatch {
  margin-top: 5px;
  &__color {
    min-height: 75px;
  }
  &__name {
    color: $gray-5;
    padding-top: 5px;
    font-size: .85rem;
    ul {
      font-family: $font-family--code;
    }
  }
}


// Color Classes
// --------------------------------------------------

.gray-1 {
  background: $gray-1;
}
.gray-2 {
  background: $gray-2;
}
.gray-3 {
  background: $gray-3;
}
.gray-4 {
  background: $gray-4;
}
.gray-5 {
  background: $gray-5;
}
.gray-6 {
  background: $gray-6;
}
.gray-7 {
  background: $gray-7;
}
.gray-8 {
  background: $gray-8;
}
.gray-9 {
  background: $gray-9;
}
.gray-10 {
  background: $gray-10;
}

.brand-1 {
  background: $brand-1;
}
.brand-2 {
  background: $brand-2;
}
.brand-3 {
  background: $brand-3;
}
.brand-4 {
  background: $brand-4;
}

.accent-1 {
  background: $accent-1;
}
.accent-2 {
  background: $accent-2;
}
.accent-3 {
  background: $accent-3;
}
.accent-4 {
  background: $accent-4;
}

.error-1 {
  background: $error-1;
}
.error-2 {
  background: $error-2;
}
.error-3 {
  background: $error-3;
}

.warn-1 {
  background: $warn-1;
}
.warn-2 {
  background: $warn-2;
}
.warn-3 {
  background: $warn-3;
}

.success-1 {
  background: $success-1;
}
.success-2 {
  background: $success-2;
}
.success-3 {
  background: $success-3;
}



// Example (out and or code)
// --------------------------------------------------

.example {
  margin-top: 10px;
  &__output {
    padding: 20px;
    background: $gray-10;
    border-radius: 3px 3px 0 0;
  }
  &__code {
    border-radius: 0 0 3px 3px;
  }
}

// Adjust Type Color
// ----------------------

.example {
  .h1, .h2, .h3, .h4, .h5 {
      color: $gray-5;
  }
}


// Layout
// --------------------------------------------------

// Page Wrap (page container / clearfix)
// ----------------------

.page-wrap {
  @include mq("md") {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  }
}


// Main Content (container)
// ----------------------

.main-content {
  width: 100%;

  @include mq("md") {
  float: right;
  padding-left: 250px;
  }
}

// Sections
// ----------------------

.section {
  padding-bottom: 75px;
  border-bottom: 2px solid $gray-6;
  &:last-of-type {
    border-bottom: none;
  }
}

// Header
// Description: color block header for main categories
// ----------------------

.header {
  padding: 100px 0 10px 0;
  margin-top: 50px;
  background-image: url('../img/header-bg.png');
  &:first-of-type {
    margin-top: 0;
  }
}



// Type
// --------------------------------------------------


// Class Names
// ----------------------

.class-name {
  font-family: $font-family--code;
  background: $gray-9;
  color: $gray-3;
  display: inline-block;
  line-height: 1.3;
  padding-left: 5px;
  padding-right: 7px;
  border-radius: 3px;
}



// Grid System Example
// --------------------------------------------------

.bar {
  text-align: center;
  background: $brand-1;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;

  @include mq(md) {
    margin-top: 0;
    margin-bottom: 10px;
  }
}


// Whitespace helpers (use sparingly)
// <type> <location> <size>
// --------------------------------------------------

// type: p (padding) or m (margin)
// location: a (all), t (top), r (right), b (bottom), l (left), h (horizontal), v (vertical)
// size: n (none: 0), s (small: 5), m (medium: 10), l (large: 20), xl (extra-large: 40), xxl (2x Large: 75px)

// Padding
// -----------------------

.pvl {
  padding-top: 10px;
  padding-bottom: 10px;
}

// Margin
// -----------------------

.mtl {
  margin-top: 20px;
}

//////
.mvs {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mvs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mvm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mvl {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mvxl {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mvxxl {
  margin-top: 75px;
  margin-bottom: 75px;
}
