
// ********************************************
// Name: defaults.scss
// Description: custom html element default styles
// ********************************************



pre, code {
  font-family: $font-family--code;
}
