
// ********************************************
// Name: variables.scss
// Description: To set global variables for scss
// ********************************************




// Colors
// --------------------------------------------


// Gray Colors
// ---------------------

$gray-1:      #1c1d1e;
$gray-2:      #38393a;
$gray-3:      #58595a;
$gray-4:      #676869;
$gray-5:      #a4a5a6;
$gray-6:      #d6d7d8;
$gray-7:      #e1e1e1;
$gray-8:      #ecedef;
$gray-9:      #f6f7f8;
$gray-10:     white;

// Brand Colors
// ---------------------

$brand-1:       #008da0;
$brand-2:       #00adba;
$brand-3:       #20cace;
$brand-4:       #82e8e8;

// Accent Colors
// ---------------------

$accent-1:      #26474e;
$accent-2:      #326168;
$accent-3:      #36787f;
$accent-4:      #5ca9ad;

// Errors
// -------------------------

$error-1:       #842a12;
$error-2:       #c1361b;
$error-3:       #e2bbb0;

// Warnings
// -------------------------

$warn-1:        #dda505;
$warn-2:        #fcd638;
$warn-3:        #ffebb3;

// Success
// -------------------------

$success-1:     #1f7732;
$success-2:     #2fad47;
$success-2:     #aae5b2;
