
// ********************************************
// Name: variables.scss
// Description: To set global variables for scss
// ********************************************



// Colors




// Fonts




// Spacing




// 
