// **************************************************
// Name: buttons.scss
// Description: button classes for links and button elements
// **************************************************



// Default Buttons styles
// --------------------------------------------------


// Button Primary
// -------------------------

a[class^="btn-primary"], button[class^="btn-primary"] {
  display: inline-block;
  margin-right: 1rem;
  background-color: $brand-2;
  color: white;
  border-radius: 3px;
  text-align: center;
  border: 2px solid $brand-2;
  &:hover {
    border: 2px solid $brand-2;
    background-color: lighten($brand-2, 2%);
  }
}

.btn-primary--sm {
  padding: .75rem 1.5rem;
  font-size: .85rem;
  text-transform: uppercase;
}

.btn-primary--md {
  padding: 1rem 4rem;
}

.btn-primary--lg {
  padding: 1rem 4rem;
  font-size: 1.25rem;
}

.btn-primary--full {
  padding: 1rem 4rem;
  width: 100%;
  font-size: 1rem;
}

// Button Secondary
// -------------------------

a[class^="btn-secondary"], button[class^="btn-secondary"] {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px; // margin only for style guide
  background-color: white;
  text-align: center;
  border: 2px solid $brand-2;
  border-radius: 3px;
  &:hover {
    border: 2px solid $brand-2;
    background-color: $brand-2;
    color: white;
  }
}

.btn-secondary--sm {
  padding: .75rem 1.5rem;
  font-size: .85rem;
  text-transform: uppercase;
}

.btn-secondary--md {
  padding: 1rem 4rem;
}

.btn-secondary--lg {
  padding: 1rem 4rem;
  font-size: 1.25rem;
}

.btn-secondary--full {
  padding: 1rem 3rem;
  width: 100%;
}
